.loading{
   display: flex;
   width: 80%;
   margin: auto;
}
.textarea>textarea{
    height: 500px;
    width: 100%;
    background-color: aquamarine;
    outline:0;
    border: none;
    font-size: 18px;
}
.textarea{
    width: 50%;
}
.preview{
    background-color: aqua;
    width: 50%;
    height: 500px;
}
/* textarea:focus{
    
} */
